.FourthSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title {
        margin-top: 40px;
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
        font-weight: 400;
        text-shadow: 3px 0px 0px #EA6A6A;
        text-align: center;
        margin-bottom: 40px;
    }

    &_formContainer {
        margin: 0 auto;
        text-align: center;

        &-top,
        &-middle,
        &-bottom {
            display: block;
            font-family: "VT323";
            width: 659px;
            height: 52px;
            background: #FFFFFF;
            border: none;
            font-size: 36px;
            padding-left: 14px;
            padding-right: 14px;
            margin-left: 5px;
            margin-right: 5px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }

            &:focus {
                outline: none;
            }
        }

        &-bottom {
            height: 411px;
            padding-top: 14px;
            resize: none;

            &::-webkit-scrollbar {
                background-color: #ffffff;
                margin-left: 14px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #EA6A6A;
            }
        }

        &-top {
            margin-bottom: 11px;
        }

        &-middle {
            margin-bottom: 38px;
        }
    }

    &_button {
        width: 129px;
        height: 45px;
        background: #EA6A6A;
        border: 1px solid #FFFFFF;
        font-weight: 400;
        font-size: 40px;
        font-family: "VT323";
        color: white;
        margin: 0 auto;
        margin-bottom: 37px;
        cursor: pointer;
        margin-top: 52px;
        text-transform: uppercase;

        &:hover {
            background: #ffffff;
            color: #EA6A6A;
            border: 2px solid #EA6A6A;
        }

    }

    &_send {
        background-color: #EA6A6A;
        border: 1px solid #FFFFFF;
        padding-top: 6.5px;
        display: block;
        padding-bottom: 6.5px;
        padding-left: 48.5px;
        padding-right: 48.5px;
        margin: 0 auto;
        margin-top: 52px;
        margin-bottom: 37px;
    }

    @media (max-width: 780px) {
        &_formContainer {

            &-top,
            &-middle,
            &-bottom {
                width: 479px;
                font-size: 26px;

                &::placeholder {
                    font-size: 26px;
                }
            }
        }
    }

    @media (max-width: 550px) {
        &_formContainer {

            &-top,
            &-middle,
            &-bottom {
                width: 320px;

                &::placeholder {
                    font-size: 26px;
                }
            }
        }
    }

    @media (max-width: 700px) {
        margin-top: 200px;
    }

    @media (max-width: 500px) {
        margin-top: 300px;
    }

    @media (max-width: 390px) {
        margin-top: 400px;
    }

    @media (max-width: 360px) {
        margin-top: 600px;
    }


    @media (max-width: 400px) {
        @media (max-height: 800px) {
            margin-top: 600px;
        }
    }
}